<?xml version="1.0" encoding_"utf-8"?>
<widget xmlns="http://wwww.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
    example3="com.phonegap.example3"
    versionCode="10"
    version="1.0.0">
    
    
    
    <name>Uso de formulario</name>
    
    <description>
    Aplicación en donde utilizamos un formulario
    </description>
    
    <preference name="phonegao-version" value="3.1.0"/>
    
    <author href="https://build.phonegap.com" email="support@phonegap.com">
    Alberto De los Santos
    </author>
    
	<gap:plugin name="org.apache.cordova.device" version="0.2.12"/>
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.0"/>
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6/">
	
	
	<!--colocar icono app-->
	
	<icon src="res/android/mdpi.png"/>
	</widget>
    